* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    scroll-behavior: smooth;
}

/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00c6ff;
}

.logo {
    color: #00c6ff;
}

/* SECTION UMUM */
section {
    padding: 100px 60px;
    min-height: 100vh;
}

/* HOME */
.home {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-size: 45px;
}

/* ABOUT */
.about {
    background: #f4f4f4;
    text-align: center;
}

/* GALLERY */
.gallery {
    background: white;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    margin-top: 30px;
}

.grid img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* SKILL */
.skill {
    background: #f4f4f4;
}

.skill ul {
    list-style: none;
    margin-top: 20px;
}

.skill ul li {
    background: #0072ff;
    color: white;
    padding: 10px;
    margin: 10px auto;
    width: 200px;
    border-radius: 20px;
    text-align: center;
}

/* CONTACT */
.contact {
    background: #111;
    color: white;
    text-align: center;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}
